<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.personainsightservice.mapper.StyleAnalysisJobMapper">
    <select id="findByJobId" resultType="com.example.personainsightservice.entity.StyleAnalysisJob">
        SELECT *
        FROM style_analysis_jobs
        WHERE job_id = #{jobId}
    </select>
</mapper>